:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
}

.wrapper {
  position: relative;
}

.banner {
  padding: 15px;
  max-width: 728px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: no-repeat center 50% url("../images/unnamed.jpg");
  position: absolute;
  top: 50px;
  left: 50px;
  &__logo-wrapper {
    margin-right: 40px;
  }
  &__logo-icon {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }

  &__subtitle {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    &-span-bold {
      font-family: Roboto;
      font-weight: 700;
      font-size: 25px;
      line-height: 21px;
    }
  }
  &__btn {
    padding: 10px;
    font-size: 16px;
    background: #00AEEF;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 3px #00AEEF;
    font-weight: 700;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
    &:hover {
      box-shadow: none;
      background-color: #047ca8;
    }
    &:active {
      color: #052733;
    }
  }
}